<div class="container">
    <div class="row mt-4">
        <div class="col-4">
            <a href="/admin/alta"><i style="font-size:2em; cursor:pointer" class="fas fa-plus text-primary" data-toggle="tooltip" data-placement="top" title="Agregar una noticia"></i></a>
        </div>
        <div class="col-12 mt-4">
            <table class="table text-center">
                <thead>
                    
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Categoria</th>
                    <th>Precio</th>
                </thead>

                <tbody>
                    {{#each productos_array}}
                    <tr>
                        <td>{{id_p}}</td>
                        <td>{{nombre_producto}}</td>
                        <td>{{categoria_producto}}</td>
                        <td>{{precio}}</td>
                        <td>
                            <a href="/admin/editar/{{id_p}}">
                            <i class="fas fa-pencil-alt text-primary"></i>
                            </a>
                            </td>
                        {{!-- delete, update -> where  --}}
                        <td>
                            <a href="/admin/eliminar/{{id_p}}">
                                <i class="fas fa-times text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>